wooplr-bean/src/main/java/com/ubiquity/common/jaxb/privatebetauser/privatebetauser.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:complexType name="PrivateBetaUserJAXB">
      <xs:sequence>
         <xs:element name="email" type="xs:string"/>
         <xs:element name="name" type="xs:string"/>
         <xs:element name="inviteCode" type="xs:string"/>
         <xs:element name="alreadyRegistered" type="xs:boolean"/>
         <xs:element name="emailsent" type="xs:boolean"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>