wooplr-bean/src/main/java/com/ubiquity/common/jaxb/datasource/datasource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:complexType name="DataSourceJAXB">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="sourcename" type="xs:string"/>
         <xs:element name="sourcetype" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="dataSource" type="DataSourceJAXB"/>
</xs:schema>

