wooplr-bean/src/main/java/com/ubiquity/common/jaxb/urlView/urlView.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="urlViewDetailJAXB">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="url" type="xs:string"/>
            <xs:element name="count" type="xs:long"/>
            <xs:element name="entityType" type="xs:string"/>
            <xs:element name="entityId" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="urlViewDetailForm" type="urlViewDetailJAXB"/>

</xs:schema>