wooplr-bean/src/main/java/com/ubiquity/common/jaxb/userredeem/useredeem.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="userRedeemJAXB">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="points" type="xs:int"/>
      <xs:element name="rewardId" type="xs:long" minOccurs="0"/>
      <xs:element name="shipped" type="xs:boolean"/>
      <xs:element name="userId" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

