wooplr-bean/src/main/java/com/ubiquity/common/jaxb/webexception/webexception.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:complexType name="webServiceExceptionJAXB">
      <xs:sequence>
         <xs:element name="validationCode" type="xs:int"/>
         <xs:element name="validationMessage" type="xs:string" minOccurs="0"/>
         <xs:element name="errorCodes" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="webServiceExceptionForm" type="webServiceExceptionJAXB"/>

</xs:schema>

